.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100svh;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: left;
  max-width: 900px;
  margin-bottom: 80px;
}

.address {
  font-family: var(--font-geist-mono);
  font-size: 14px;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

.scheme {
  width: 660px;
}

@media (max-width: 768px) {
  .page {
    padding: 10px;
    padding-bottom: 80px;
  }

  .main {
    max-width: 330px;
    align-items: center;
  }

  .scheme {
    width: 300px;
  }

  .main ol {
    text-align: center;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
